<%- include ('./partials/header.ejs') %>

  <body>
    <%- include ('./partials/navbar.ejs') %>

      <div class="container">
        Pergunta

      </div><!-- fecha container -->

  </body>

  <%- include ('./partials/footer.ejs') %>